---
import classNames from "classnames";

import ResumeSection from "src/components/ResumeSection/ResumeSection.astro";

import {
  main_header,
  brief,
  languages,
  libraries,
  tools,
  platforms,
  skills,
  certs,
  education,
  curriculum_vitae,
} from "src/resume_content.js";

import paper_styles from "./PaperResume.module.scss";
import common_styles from "./resume-common.module.scss";
---

<div
  class:list={classNames(common_styles["resume"], paper_styles["paper-resume"])}
>
  <div class:list={classNames(paper_styles["fcol"])}>
    <div class:list={classNames(paper_styles["frow"])}>
      <ResumeSection
        className={classNames(
          paper_styles["fcol"],
          paper_styles["fcol__1-half"],
          paper_styles["primary-section"]
        )}
        headerLevel={1}
        section={main_header}
      />
      <div
        class:list={classNames(
          paper_styles["fcol"],
          paper_styles["fcol__1-half"]
        )}
        style={{ marginTop: "1em" }}
      >
        <ResumeSection enterFrom="top" section={brief} />
      </div>
    </div>
    <div class:list={classNames(paper_styles["frow"])} style={{ flexGrow: 1 }}>
      <div
        class:list={classNames(
          paper_styles["fcol"],
          paper_styles["fcol__3-4th"]
        )}
        style={{ paddingRight: "1em" }}
      >
        <ResumeSection enterFrom="left" section={curriculum_vitae} />
      </div>
      <div
        class:list={classNames(
          paper_styles["fcol"],
          paper_styles["fcol__1-4th"]
        )}
        style={{ padding: "2em 0em" }}
      >
        <ResumeSection
          enterFrom="bottom"
          section={certs}
          style={{ paddingRight: "0.5em" }}
        />
        {
          [languages, libraries, tools, platforms, skills].map(section => (
            <ResumeSection
              className={classNames(common_styles["horizontal-list"])}
              enterFrom="bottom"
              section={section}
              style={{ paddingRight: "0.5em" }}
            />
          ))
        }
        <ResumeSection
          enterFrom="bottom"
          section={education}
          style={{ paddingRight: "0.5em" }}
        />
      </div>
    </div>
  </div>
</div>
